{{ define "body-classes" -}}
  {{ if .Draft }}draft{{ end }} look-sheet-bkg
{{- end }}

{{ define "content" }}
{{- partial "single-article" . -}}
{{ end }}

{{ define "footer" }}

{{- partial "custom_footer.html" . -}}

{{ if (and (not .Parent.IsHome) (or .PrevInSection .NextInSection)) }}
  <div class="nav-bkg-50 content-container-narrow-pad bottom-links text-0p75 drop-shadow">
    <nav class="flex-row">
    {{if .PrevInSection}}
    <a href="{{.PrevInSection.Permalink}}" class="flex-row v-center no-underline"  style="max-width:45%;">
      <span class="text-1p5">←</span>&nbsp;<span class="re-underline">Previous: {{ .PrevInSection.Title }}</span>
    </a>
    {{else}}
      <span class="flex-row v-center"></span>
    {{end}}
    {{if .NextInSection}}
      <a href="{{.NextInSection.Permalink}}" class="flex-row v-center no-underline" style="max-width: 45%;">
      <span class="re-underline">Next: {{.NextInSection.Title}}</span>&nbsp;<span class="text-1p5">→</span>
      </a>
    {{else}}
      <span class="flex-row v-center"></span>
    {{end}}
    </nav>
  </div>
{{ end }}

{{ if .Site.Params.include_conversation }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}

{{ end }}
