<!DOCTYPE html>
<html
  lang="en"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
  <head>
    {{ partial "meta.html" . }}

    <title>
      {{ block "title" . }}
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else if .Title }}
        {{ .Title }} | {{ .Site.Title }}
      {{ else }}
        {{ .Summary | plainify | truncate 40 }} | {{ .Site.Title }}
      {{ end }}
      {{ end }}
    </title>
    
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ with .Site.Params.RSSCanonicalLink }}
      <link rel="alternate" type="application/rss+xml" href="{{ . | absURL }}" title="{{$.Site.Title}}" />
    {{ else }}
      {{- with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
      {{- end -}}
    {{ end }}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    {{ partial "head_includes.html" . }}

    {{ partial "microblog_head.html" . }}
  </head>
  
  <body
  class="{{ block "body-classes" . }}{{ end }}"
  lang="{{ .Site.LanguageCode }}">
  
  <div class="navbar nav-bkg drop-shadow">
    <nav class="content-container pagewide-bar-padding">
      <span class="divider">/ </span>
      <a href="{{ .Site.Home.RelPermalink  }}" >{{ .Site.Title  }}</a>
      {{ block "breadcrumbs" . }}
        {{- with .Parent -}}
          {{- if not .IsHome -}}
          <span class="divider">/ </span>
          <a href="{{ .RelPermalink }}">
            {{- with .Params.breadcrumb_label -}}
              {{- . -}}
            {{- else -}}
              {{- .Title -}}
            {{- end -}}
          </a>
          {{- end -}}
        {{- end -}}
      {{ end }}
      {{ partial "right-links" . }}
    </nav>
  </div>

  {{ block "content" . }}{{ end }}
  
  {{ if not .Params.hide_footer }}
    {{ block "footer" . }}{{ end }}
  {{ end }}

  {{ range .Site.Params.plugins_js }}
    <script type="text/javascript" src="{{ . }}"></script>
  {{ end }}
  </body>
</html>
