<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  
  {{ partial "head.html" . }}
  
  <body
  class="{{ block "body-classes" . }}{{ end }}"
  lang="{{ .Site.LanguageCode }}">
  
  <div class="navbar nav-bkg drop-shadow">
    <nav class="content-container pagewide-bar-padding">
      <span class="divider">/ </span>
      <a href="{{ .Site.Home.RelPermalink  }}" >{{ .Site.Title  }}</a>
      {{ block "breadcrumbs" . }}
        {{- with .Parent -}}
          {{- if not .IsHome -}}
          <span class="divider">/ </span>
          <a href="{{ .RelPermalink }}">
            {{- with .Params.breadcrumb_label -}}
              {{- . -}}
            {{- else -}}
              {{- .Title -}}
            {{- end -}}
          </a>
          {{- end -}}
        {{- end -}}
      {{ end }}
      {{ partial "right-links" . }}
    </nav>
  </div>

  {{ block "main" . }}{{ end }}
  
  {{ if not .Params.hide_footer }}
    {{ block "footer" . }}{{ end }}
  {{ end }}

  {{ range .Site.Params.plugins_js }}
    <script type="text/javascript" src="{{ . }}"></script>
  {{ end }}
  </body>
</html>
