{{ define "content" }}
<section id="main" class="content-container article-pad-v">
  <h1 id="title" style="margin-bottom: 0.75em">{{.Title}}</h1>
  <div class="sidepull-container">
    <div class="sidepull-main">
      <ul id="list" class="list-unstyled list-of-titles">
        {{ $pages := where .Site.Pages.ByDate.Reverse "Type" "post" }}
        {{ range $pages }}
        <li class="h-entry">
          <a href="{{ .Permalink}}">
            <span class="post-title">{{ .Title }}</span>
            <br>
            <span class="post-meta">{{ .Date.Format "January 2, 2006" }}</span>
            <br>
            <span class="post-meta">
              {{ range .Params.categories }}
                #{{ . }}&nbsp;
              {{ end }}
            </span>
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
{{ end }}
