<article
    id="main"
    class="content-container look-sheet article-pad-v {{ if (or .Params.disableMarginNotes .Site.Params.disableMarginNotes) }}no-floating-footnotes{{ end }}"
    itemscope
    itemtype="https://schema.org/Article" >
  <meta itemprop="author" content="{{ .Site.Params.Author }}" />
  <meta itemprop="publisher" content="{{ .Site.Params.Author }}" />
  <meta itemprop="image" content="{{ partial "feature_image" . }}" />
  <h1 itemprop="name" id="title">{{ .Title }}</h1>
  <meta itemprop="headline" content="{{ .Title }}" />
  {{ with .Params.categories }}
  <div class="post-tags">
  {{ range . }}
    <a href="{{ (urlize (printf "categories/%s/" .)) | absLangURL }}">#{{ . }}</a>&nbsp;
  {{ end }}
  </div>
  {{ end }}
  {{ if .Date }}
  <div class="post-date"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "January 2, 2006" }}</time></div>
  <meta itemprop="dateModified" content="{{ .Lastmod.Format "January 2, 2006" }}"/>
  {{ end }}
  <div itemprop="articleBody" id="content" class="article-body margin-top-2em post-content e-content">
    {{ .Content }}
  </div>
</article>
